node_modules
dist
demo-dist
__pycache__
*.pyc
.git
.gitignore
.venv
venv
data/*.db
data/*.db-journal
*.log
logs/
api-dev.err.log
api-dev.log
vite-dev.log
vite-dev.err.err
vite-dev.err
.env
.env.local
README.md
LICENSE
.vscode
.idea
